parameters:
    level: 7
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    paths:
        - src
    bootstrapFiles:
        - config/bootstrap.php
includes:
    - ./vendor/cakedc/cakephp-phpstan/extension.neon
